body{
    width: 100%;
    margin:0px;
    font-family: 'Poppins', sans-serif;
}
#top-banner{
    width:1077px;
    /* height: 623px; */
    display: flex;
    margin:auto;
    justify-content:space-between;
}
.content{
    width:40%;
     margin:10% 0% 0% 5%;
 }
 .profile-pic{
     width: 40%;
     margin:0% 0% 0% 5%;
 }
#top-banner h1{
    font-size: 48px;
    font-family: microsoft tai le;
    border-radius: 4px 4px 4px 4px;
    border-left: 5px solid red;
    
    padding-left:20px;
/*     margin-top:180px; */
    
}
#top-banner p{
    padding: 10px;
    font-size:20px;
    text-align: justify;
    
}
#top-banner img{
    margin-left:70px;
    width: 400px;
}


.yellow_text{
    color:orange;
}
button{
    padding: 10px 30px 10px 30px;
    color:white;
    border: 1px solid #EEE;
    border-radius: 8px;
    background-image: linear-gradient(45deg, coral, orange);
    font-size:20px;
}

/* middle-section */

#middle-section{
    display: flex;
    justify-content: space-between;
    width: 1077px;
    margin: 0px auto;
}
#middle-section h1{
    text-align: center;
}

#middle-section div{
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}
#middle-section p{
    padding: 20px;
    text-align: justify;
    
}
#middle-section h3{
    padding-left: 20px;
    font-size:20px;
}
#middle-section img{
    width: 150px;
}


/* develop section */

#develop{
    width:1077px;
/*     height: 623px; */
    display: flex;
    margin: 60px auto;
    justify-content:space-between;
}

#develop div{
    width: 50%;
}
#develop img{
    width: 400px;
    margin:10px 0px 10px 0px;
}
#develop div.develop-content{
  
}

#develop p{
    text-align: justify;
    
}

/* Community Content */
#community{
    width:1077px;
    height: 623px;
    display: flex;
    margin: 60px auto;
    justify-content:space-between;
}

#community div{
    width: 50%;
}
#community img{
    width: 400px;
    margin:10px 0px 10px 150px;
}
#community div.community-content{
  
}

#community p{
    text-align: justify;
    
}

footer{
    background-color: rgb(11,13,23);
    /* height: 150px; */
    padding: 32px 0px 32px 0px;
}
footer h2{
    color:white;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 30px;
}
footer p{
    color:white;
    text-align: center;
}
.coral{
    color:coral;
}